body {
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    background-color: #dedab4;
    font-size: 16px;
}

button {
    cursor: pointer;
}

p {
    overflow-wrap: break-word;
}

header {
    width: 100%;
    height: 70px;
    background-color: #c7bf9e;
    border-bottom: 5px solid #d9d9d9;
    display: grid;
    grid-template-columns: 10.8% 58% 15.7% 3.7% 14.5%;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.profile-button {
    width: 200px;
    display: flex;
    align-items: center;
}

.profile-button p {
    margin-left: 12px;
}

main {
    display: grid;
    grid-template-columns: 10.8% 89.2%;
    height: 100vh;
}

.short-event-info {
    display: grid;
    grid-template-columns: 89.2% 10.8%;
    height: 100vh;
}

aside {
    border-left: 5px solid #d9d9d9;
    background-color: #c7bf9e;
    padding: 75px 5%;
    display: flex;
    flex-direction: column;
}

nav {
    border-right: 5px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    background-color: #c7bf9e;
}

nav button, .logo {
    width: 100%;
    text-align: center;
    padding: 22px 0;
    border: none;
    border-bottom: 5px solid #d9d9d9;
    background-color: #c7bf9e;
    cursor: pointer;
}

.logo {
    border: none;
    border-right: 5px solid #d9d9d9;
    font-size: 24px;
    font-weight: 400;
}

.events-container, .event-info-container, .curators-container, .students-container {
    padding-left: 36px;
    padding-right: 68px;
}

.event {
    margin-top: 36px;
    padding: 20px;
    background-color: #c7bf9e;
    border-radius: 32px;
    border: 5px solid #d9d9d9;
    cursor: pointer;
}

.event h2 {
    margin: 0;
    background-color: #dedab4;
    border-radius: 32px;
    padding: 5px 125px 15px 25px;
    display: block;
}

.event p {
    margin: 0;
    margin-left: 25px;
    margin-top: 20px;
}

.event-info {
    margin-top: 90px;
    display: flex;
}

.search-form{
    background-color: #dedab4;
    border-radius: 32px;
    margin-left: 18px;
    padding: 13px 20px;
    width: 50%;
}

.search {
    margin-left: 5px;
    width: 80%;
    border: none;
    background: #dedab4 !important;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
}

.delete-button, .save-button, .close-button {
    background: #c7bf9e !important;
    padding: 16px 0;
    outline: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    width: 20%;
    margin-bottom: 30px;
}

.send-request-button, .show-more-button {
    background: #dedab4 !important;
    padding: 16px 0;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 20px;
}

.more-info {
    position: absolute;
    background: #d9d9d9 !important;
    padding: 16px;
    padding-bottom: 40px;
    border: 5px solid #c7bf9e;
    border-radius: 32px;
    position: absolute;
    top: 60vh;
    left: 70%;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info-container p {
    margin: 0;
}

.short-event-info .manager {
    width: 44.8%;
}

.short-event-info .close-button {
    position: absolute;
    top: 80vh;
}

.more-info li {
    list-style-image: url(../img/marker.svg);
    padding-left: 20px;
}

.delete-event-button, .hide-event-button {
    background: #d9d9d9 !important;
    padding: 16px 0;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border: 5px solid #c7bf9e;
    border-radius: 32px;
    width: 20%;
    margin-bottom: 30px;
    margin-left: 40px;
}

.event-form, .profile-form {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    padding-left: 36px;
    padding-right: 68px;
}

.event-form label, .profile-form label {
    margin: 0;
    margin-left: 38px;
    margin-bottom: 5px;
}

.event-form input, .event-form textarea, .event-form div, .profile-form input, .profile-form textarea {
    margin: 0;
    margin-bottom: 13px;
}

.event-form input, .event-form textarea, .profile-form input, .profile-form textarea {
    background: #c7bf9e !important;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    padding: 13px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
}

.event-form textarea, .profile-form textarea {
    padding: 20px;
    height: 126px;
    resize: vertical;
    overflow: hidden;
}

.number-of-participants {
    text-align: center;
}

.chat-link, .number-of-participants {
    width: 44.8%;
}

input[type=date] {
    margin-left: 10px;
}

.save-button {
    margin-top: 30px;
}

.event-info-container .title, .event-info-container .discription, .event-info-container .eventDates,  .event-info-container .numberSeats,
.event-info-container .manager, .event-info-container .chatUrl, .event-info-container .enrollmentDates {
    padding: 17px;
    background-color: #c7bf9e;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 40px;
}

.event-info-container .title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 75px;
}

.organization-info {
    display: grid;
    gap: 4%;
    grid-template-columns: 48% 48%;
}

.close-button {
    margin-top: 60px;
}

.curators-container, .students-container  {
    margin-top: 75px;
}

.student, .students-header {
    display: grid;
    column-gap: 1.9%;
    grid-template-columns: 6.7% 20.8% 31.1% 20.8% 13%;
    background-color: #c7bf9e;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 40px;
    padding-right: 30px;
}

.student, .curator {
    min-height: 100px;
}

.student p, .students-header p, .curator p, .curators-header p, .curator-requests-header p, .curator-requests p,
.student-requests-header p, .student-requests p {
    margin: 0;
    padding: 18px 0;
}

.counter {
    text-align: center;
    border-right: 5px solid #d9d9d9;
}

.curator, .curators-header {
    display: grid;
    column-gap: 1.9%;
    grid-template-columns: 6.7% 28.2% 21.1% 21.1% 15.3%;
    background-color: #c7bf9e;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 40px;
    padding-right: 30px;
}

.event-form .edit-event-label {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
}

.curator-requests-header, .student-requests-header {
    display: grid;
    column-gap: 1.9%;
    grid-template-columns: 6.7% 25% 1fr;
    background-color: #c7bf9e;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 40px;
}

.curator-requests, .student-requests {
    display: grid;
    column-gap: 1.9%;
    grid-template-columns: 6.7% 25% 30% 1fr;
    background-color: #c7bf9e;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 40px;
    min-height: 100px;
    position: relative;
}

.accept {
    background: #dedab4 !important;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border-radius: 32px;
    height: 43px;
    width: 126px;
    position: absolute;
    top: 50%;
    left: 70%;
    margin-top: -21.5px;
}

.reject {
    background: #d9d9d9 !important;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border-radius: 32px;
    height: 43px;
    width: 126px;
    position: absolute;
    top: 50%;
    left: 82.15%;
    margin-top: -21.5px;
}

.warning {
    margin-left: 38px;
    margin-top: -8px;
    margin-bottom: 25px;
    color: red;
}

.date-warning {
    margin: 0;
    margin-left: 10px;
    color: red;
}

.warning-modal {
    background-color: #d9d9d9;
    border: 5px solid #c7bf9e;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -13%;
    margin-top: -114px;
    padding: 0 80px;
    height: 228px;
    width: 26%;
}

.edit-warning-modal {
    margin-top: 0;
}

.warning-text {
    margin: 0;
    margin-top: 35px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.warning-buttons {
    margin-top: 50px;
}

.warning-modal button {
    display: inline;
    background: #c7bf9e !important;
    padding: 16px 0;
    outline: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border-radius: 32px;
    border: none;
    width: 40%;
}

.warning-modal .create-event-warning-confirm, .edit-event-warning-confirm {
    margin-right: 20%;
}

.not-found-message {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.nav-active button {
    background-color: #dedab4;
}

.message-form {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    padding-left: 36px;
    padding-right: 68px;
}

.message-form-lable {
    margin: 0;
    margin-left: 38px;
    margin-bottom: 13px;
    font-size: 16px;
}

.message-form textarea {
    background: #c7bf9e !important;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    margin-bottom: 45px;
    padding: 20px;
    border: 5px solid #d9d9d9;
    border-radius: 32px;
    height: 126px;
    resize: vertical;
    overflow: hidden;
}

.messages-warning {
    margin-left: 38px;
    margin-top: -35px;
    margin-bottom: 40px;
    color: red;
}

.messages-save-button {
    margin-top: 0;
}

.manager-popup {
    background-color: #c7bf9e;
}

.add-new-event-form .manager, .edit-event-form .manager {
    margin: 0;
    margin-bottom: 13px;
    width: 48%;
    border-width: 5px;
}

.title-status-container {
    display: flex;
    justify-content: space-between;
}

.event .event-status {
    margin: 0;
    border-radius: 32px;
    padding: 5px 25px 15px 25px;
    height: fit-content;
}

.edit-event-form button:disabled, .edit-profile-form button:disabled, aside button:disabled {
    filter: contrast(60%);
}

.profile-form {
    padding: 0;
}

.edit-profile-container, .edit-email-container, .edit-password-container {
    padding: 0 110px;
}

.profile-form input {
    width: 50%;
}

.profile-form label {
    margin-left: 18px;
    font-weight: 700;
}

.profile-form .warning {
    margin-left: 18px;
}

.edit-profile-container p, .edit-email-container p, .edit-password-container p {
    font-size: 24px;
    margin-top: 35px;
    font-weight: 700;
}

.edit-profile-form .name-field {
    width: 25%;
} 

.profile-form .save-button {
    width: 25%;
    padding: 10px 0;
}

.edit-email-container .current-email-lable {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 18px;
    margin-top: 36px;
}

.edit-email-container .current-email {
    font-size: 16px;
    font-weight: 400;
    padding: 13px;
    border: 5px solid #d9d9d9;
    background-color: #c7bf9e;
    border-radius: 32px;
    width: 50%;
    margin: 0;
}

.edit-email-form {
    margin: 0;
    margin-top: 13px;
}

.manager-curator, .manager-curator-header {
    grid-template-columns: 6.7% 23.2% 17.1% 17.1% 13.3% 15%;
}

.delete-curator, .delete-student {
    background: #d9d9d9 !important;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    border-radius: 32px;
    height: 43px;
    width: 126px;
    position: relative;
    top: 50%;
    margin-top: -21.5px;
}

.manager-student, .manager-student-header {
    grid-template-columns: 6.7% 20.8% 16.1% 20.8% 13% 15%;
}

.modal-open * {
    filter: blur(5px);
}

.modal-open .warning-modal {
    filter: none;
    z-index: 10;
}

.modal-open .warning-modal * {
    filter: none;
}

.name-field-container {
    display: flex;
    flex-direction: column;
}

.name-container {
    display: grid;
    gap: 2%;
    grid-template-columns: 30% 30% 30%;
}

.name-field-container input {
    width: 88%;
}

.notificationsModal {
    background-color: #d9d9d9;
    border: 5px solid #c7bf9e;
    border-radius: 15px;

    position: absolute;
    top: 85px;
    right: 2%;
    padding: 30px;
    max-height: 75vh;
    width: 27%;
}

.notifications-header {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.modal-error {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -28px;
    color: red;
}

.fetch-warnings {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 75px;
    font-size: 48px;
}

.aside-error {
    text-align: center;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    color: red;
}

.hidden {
    display: none;
}

.save-error {
    padding: 0;
    margin-top: -20px;
    color: red;
    margin-left: 18px;
}